BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE      COMP "CLK"    SITE "P6";
IOBUF       PORT "CLK"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK"    25 MHZ;

LOCATE COMP "LCD_CLK" SITE "B5";
IOBUF PORT "LCD_CLK" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_DEN" SITE "B8";
IOBUF PORT "LCD_DEN" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_R[0]" SITE "E1";
IOBUF PORT "LCD_R[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[1]" SITE "C2";
IOBUF PORT "LCD_R[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[2]" SITE "B2";
IOBUF PORT "LCD_R[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[3]" SITE "A2";
IOBUF PORT "LCD_R[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_R[4]" SITE "A3";
IOBUF PORT "LCD_R[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_G[0]" SITE "F2";
IOBUF PORT "LCD_G[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[1]" SITE "D1";
IOBUF PORT "LCD_G[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[2]" SITE "C1";
IOBUF PORT "LCD_G[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[3]" SITE "B1";
IOBUF PORT "LCD_G[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[4]" SITE "B3";
IOBUF PORT "LCD_G[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_G[5]" SITE "B4";
IOBUF PORT "LCD_G[5]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_B[0]" SITE "A4";
IOBUF PORT "LCD_B[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[1]" SITE "A5";
IOBUF PORT "LCD_B[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[2]" SITE "A6";
IOBUF PORT "LCD_B[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[3]" SITE "A7";
IOBUF PORT "LCD_B[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "LCD_B[4]" SITE "A8";
IOBUF PORT "LCD_B[4]" DRIVE=4 IO_TYPE=LVCMOS33;